
 :root{
    --orange-color:#FA7436;
    --lightorange-color:#FD8D3A;
    --white-color:#FFFFFF;
    --black-color:#222222;
    --darkgrey-color:#444444;
    --grey-color:#666666;
    --lightgrey-color:#999999;
    --bg-color:#fefcfb;


 }

